@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@import "./attribution.css";
@import "./inputs.css";
@import "./outputs.css";
@import "./header.css";
@import "./button.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

:root {
  /* Colors */
  /* Primary */
  --strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--light-grayish-cyan);
}

.app__container {
  display: grid;
  gap: 2em;
  background-color: var(--white);
  border-radius: 1.5em;
  padding: 2em;
  max-width: 1000px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}

@media (min-width: 1440px) {
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    margin: 3.5em;
  }
}
