/* https://www.frontendmentor.io/solutions/tip-calculator-made-with-react-sass-and-packed-with-vite-pBx9rETXnt */
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@import "./recipe.css";
@import "./attribution.css";
@import "./input.css";
@import "./output.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

.app__container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 2em;
  /* width: 100%; */
  background-color: white;
  padding: 1em;
}

.app__heading {
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 1rem;
  text-align: center;
}
