.output__tip-amount,
.output__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output__header {
  font-size: 1rem;
  margin: 0;
  color: var(--white);
  padding-right: 2em;
}

.output__total {
  margin: 1em 0;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-dark-cyan);
  color: white;
  padding: 1.5em;
  max-width: 100%;
  border-radius: 1em;
}

.output__amount {
  width: 173px;
  overflow: auto;
  word-spacing: -2px;
  text-align: right;
  font-size: 1.5rem;
  color: var(--strong-cyan);
}

.output__sub-header {
  font-size: 0.8rem;
  color: var(--dark-grayish-cyan);
}

@media (min-width: 1440px) {
  .output {
    padding: 2.5em;
  }

  .output__header {
    padding-right: 0;
  }

  .output__amount {
    width: 300px;
    max-width: 65%;
    font-size: 3rem;
  }

  .output__total {
    margin: 3em 0;
  }
}
